:root {
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-family: 'Roboto', sans-serif;

	/* --primary: #045996;
--primary-hover: #00355a; */
	color-scheme: dark;
	--primary: #625bf6;
	--primary-hover: #4842c4;
	--primary-contrast: #d7d4ff;
	--danger-red: #cf222e;
	--danger-red-hover: #a40e26;
	--danger-red-contrast: #ffd9e0;
	--success-green: #2da44e;
	--success-green-hover: #23803d;
	--success-green-contrast: #1d4123;
	--warning-yellow: #bf8700;
	--warning-yellow-hover: #a67400;
	--warning-yellow-contrast: #7a5a00;

	--white: #ffffff;
	--shadow-1: rgba(141, 141, 141, 0);
	--shadow-2: rgba(0, 0, 0, 0.12);
	--shadow-3: rgba(156, 165, 197, 0.16);
	--shadow-4: rgba(150, 158, 190, 0.08);

	--black: #ffffff;
	--off-black: #fafafa;
	--gray: #d5d5d8;
	--light-gray-4: #82828b;
	--light-gray-3: #4b4b58;
	--light-gray-2: #3b3b49;
	--light-gray-1: #323241;
	--background: #2e2e3d;
	--background-alt: #323241;
	color: var(--off-black);
	background-color: var(--background-alt);
	--sidebar-background: var(--background-alt);
}

:root[color-theme='light'] {
	color-scheme: light;
	--background: #ffffff;
	--background-alt: #ffffff;
	--black: #000000;
	--off-black: #333333;
	--gray: #757575;
	--light-gray-4: #e0e0e0;
	--light-gray-3: #e8e8e8;
	--light-gray-2: #f2f2f2;
	--light-gray-1: #fafafa;
	--shadow-1: rgba(0, 0, 0, 0);
	--shadow-2: rgba(0, 0, 0, 0.12);
	--shadow-3: rgba(64, 68, 82, 0.16);
	--shadow-4: rgba(64, 68, 82, 0.08);
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
}

text.xs {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 13px;
}

text.sm {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

text {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

text.lg {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
}

text.xl {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
}

p.xs {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 150%;
}

p.sm {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
}

p {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

p.lg {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 150%;
}

p.xl {
	color: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
}

h1 {
	color: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 41px;
}

h2 {
	color: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 27px;
	line-height: 32px;
}

h3 {
	color: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 27px;
}

h4 {
	color: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
}

h5 {
	color: inherit;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
}

h6 {
	color: inherit;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
}

.subtitle {
	color: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
}
